body {
  background-color: lightcyan;
}

header {
  border-style: solid;
  margin-left: 2em;
  margin-right: 2em;
}

h1 {
  text-align: center;
  font-size: 400%;
  font-family: "Times New Roman", Times, serif;
}

p {
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  margin-left: 2em;
  margin-right: 2em;
}
