body {
  background: #cacacc;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  margin: 0;
  padding: 1em;
  text-align: center;
  margin-bottom: 3em;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #d41a1b;
}

.greentext {
  color: #24bc34;
}
