body {
  background: #333;
}

header {
  margin: auto;
  padding: auto;
  padding-left: 1em;
}

h1 {
  font-size: 250%;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 120%;
  line-height: 1.4;
  color: #aaa;
}

.form-group {
  margin-right: 50%;
  border: 1px solid #aaa;
  padding: 10px;
}

a {
  text-decoration: none;
  margin: auto;
  width: 50%;
  border: 1px solid #bbb;
  padding: 10px;
  color: #eee;
}

label {
  color: #eee;
  margin-bottom: 1em;
}

.custom-file {
  color: #ddd;
}
